/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="date"] {
    padding: 20px;
    width: 80%;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
}

button {
    padding: 10px 20px;
    background-color: #f031ad;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #f181c4ea;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}
